
.box {
    height: 100px;
    width: 100px;
    border: 1px solid red;
    background: red;
    
    transition: /*animation 2s, background-color 2s*/ transform 0.3s, background-color 0.3s, width 0.3s;  
    transition-timing-function: ease-in-out; 
  }
  
  .box:hover {
    background-color:yellow;
    width: 66%;
    transform:rotateY(10deg) rotateX(-30deg) translateX(20px) ; 
  }

  .box-long {
      transform: scale(2, 1);
  }
  
  